/* Navigation bar */

nav {
  display: flex;
  background-color: #ff6600;
  align-items: center;
  padding: 5px 20px;
  border-radius: 3px 3px 0 0;
}

.navbar-brand {
  font-weight: bold;
  margin-right: 1em;
}

.nav-link {
  font-size: 0.85rem;
  margin: 0 3px;
}

.nav-right {
  margin-left: auto;
  text-align: right;
}

.nav-left {
  text-align: left;
}

.nav-separator {
  height: 1em; 
  width: 1px;
  background-color: #000; 
  vertical-align: middle; 
}
